* {
  outline: 0;
  padding: 0;
  margin: 0;
  list-style: none !important;
  text-decoration: none !important;
  font-family: "Noto Sans";
}

.gradientNews {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

@media (min-width: 546px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

@media (min-width: 992px) and(max-width:1530px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 80%;
  }
}

@media (min-width: 1530px) and (max-width: 1919px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: calc(100% - 430px);
  }
}

@media (min-width: 1920px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1490px;
  }
}

.flexSwitch {
  display: inline-flex;
  align-items: center;

  span {
    color: #b4b4b4;
    margin-right: 5px;
    font-size: 14px;
  }
}

.loading {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.popularNews {
  .home__populationLeft {
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 19.5613px;
      color: #014577;
      margin-bottom: 0;
    }
  }

  .news__content {
    margin-top: 15px;
  }
}

.placeholder {
  height: 115px;
}

.placeholder div {
  background: #e8e8e8;
}

.placeholder .square {
  width: 100%;
  height: 157px;
  margin: 0 0 10px;
}

.placeholder .line {
  height: 20px;
  margin: 0 0 10px 105px;
  margin-left: 0;
}
.placeholder .line:nth-child(2) {
  width: 80%;
}
.placeholder .line:nth-child(3) {
  width: 60%;
}
.placeholder .line:nth-child(4) {
  width: 55%;
}

.placeholder .circle {
  float: left;
  width: 15px;
  height: 15px;
  margin: 0 15px 10px 0;
  border-radius: 15px;
}

/* 
  --------------
  Pulse effect animation 
  Activated by adding a '.pulse' class to the placeholder
  --------------
*/

.placeholder.wave div {
  // animation: wave 1s infinite linear forwards;
  // -webkit-animation: wave 1s infinite linear forwards;
  background: #f6f7f8;
  // background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 901px 104px !important;
}

@keyframes wave {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@-webkit-keyframes wave {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

// list

.overNews {
  height: 545px !important;
  overflow: hidden !important;
  margin-bottom: 25px;
}

.overNewsFlex {
  height: 600px !important;
  overflow: hidden !important;
  margin-bottom: 25px;
}

.popularFlex {
  height: 810px !important;
  .news__wrapper {
    min-height: 115px;
  }
}

.waveSliderTop {
  .square {
    background-size: 901px 104px !important;
  }
}

.flexLine {
  .placeholder {
    display: flex;
    width: 100%;

    .line {
      width: calc(100% / 6);
      height: 31px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.categoriesWave {
  display: flex;
  width: 100%;
  height: 30px;

  .line {
    width: calc(100% / 5) !important;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}

// noto
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto/NotoSans-Bold.eot");
  src: url("../fonts/noto/NotoSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/noto/NotoSans-Bold.woff2") format("woff2"),
    url("../fonts/noto/NotoSans-Bold.woff") format("woff"),
    url("../fonts/noto/NotoSans-Bold.ttf") format("truetype"),
    url("../fonts/noto/NotoSans-Bold.svg#NotoSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto/NotoSans-BoldItalic.eot");
  src: url("../fonts/noto/NotoSans-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/noto/NotoSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/noto/NotoSans-BoldItalic.woff") format("woff"),
    url("../fonts/noto/NotoSans-BoldItalic.ttf") format("truetype"),
    url("../fonts/noto/NotoSans-BoldItalic.svg#NotoSans-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto/NotoSans-Italic.eot");
  src: url("../fonts/noto/NotoSans-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/noto/NotoSans-Italic.woff2") format("woff2"),
    url("../fonts/noto/NotoSans-Italic.woff") format("woff"),
    url("../fonts/noto/NotoSans-Italic.ttf") format("truetype"),
    url("../fonts/noto/NotoSans-Italic.svg#NotoSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/noto/NotoSans.eot");
  src: url("../fonts/noto/NotoSans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/noto/NotoSans.woff2") format("woff2"),
    url("../fonts/noto/NotoSans.woff") format("woff"),
    url("../fonts/noto/NotoSans.ttf") format("truetype"),
    url("../fonts/noto/NotoSans.svg#NotoSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// merryweather

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Black.eot");
  src: url("../fonts/Merriweather/Merriweather-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-Black.woff2") format("woff2"),
    url("../fonts/Merriweather/Merriweather-Black.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Black.ttf") format("truetype"),
    url("../fonts/Merriweather/Merriweather-Black.svg#Merriweather-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-BlackItalic.eot");
  src: url("../fonts/Merriweather/Merriweather-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-BlackItalic.woff2") format("woff2"),
    url("../fonts/Merriweather/Merriweather-BlackItalic.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-BlackItalic.ttf") format("truetype"),
    url("../fonts/Merriweather/Merriweather-BlackItalic.svg#Merriweather-BlackItalic")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Bold.eot");
  src: url("../fonts/Merriweather/Merriweather-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-Bold.woff2") format("woff2"),
    url("../fonts/Merriweather/Merriweather-Bold.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype"),
    url("../fonts/Merriweather/Merriweather-Bold.svg#Merriweather-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-BoldItalic.eot");
  src: url("../fonts/Merriweather/Merriweather-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-BoldItalic.woff2") format("woff2"),
    url("../fonts/Merriweather/Merriweather-BoldItalic.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-BoldItalic.ttf") format("truetype"),
    url("../fonts/Merriweather/Merriweather-BoldItalic.svg#Merriweather-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Italic.eot");
  src: url("../fonts/Merriweather/Merriweather-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-Italic.woff2") format("woff2"),
    url("../fonts/Merriweather/Merriweather-Italic.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Italic.ttf") format("truetype"),
    url("../fonts/Merriweather/Merriweather-Italic.svg#Merriweather-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-LightItalic.eot");
  src: url("../fonts/Merriweather/Merriweather-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-LightItalic.woff2") format("woff2"),
    url("../fonts/Merriweather/Merriweather-LightItalic.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-LightItalic.ttf") format("truetype"),
    url("../fonts/Merriweather/Merriweather-LightItalic.svg#Merriweather-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Light.eot");
  src: url("../fonts/Merriweather/Merriweather-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-Light.woff2") format("woff2"),
    url("../fonts/Merriweather/Merriweather-Light.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Light.ttf") format("truetype"),
    url("../fonts/Merriweather/Merriweather-Light.svg#Merriweather-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Regular.eot");
  src: url("../fonts/Merriweather/Merriweather-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Merriweather/Merriweather-Regular.woff2") format("woff2"),
    url("../fonts/Merriweather/Merriweather-Regular.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype"),
    url("../fonts/Merriweather/Merriweather-Regular.svg#Merriweather-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Montserrat

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Black.eot");
  src: url("../fonts/Montserrat/Montserrat-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Black.svg#Montserrat-Black")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-BlackItalic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-BlackItalic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-BlackItalic.svg#Montserrat-BlackItalic")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-BoldItalic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-BoldItalic.svg#Montserrat-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-ExtraBold.svg#Montserrat-ExtraBold")
      format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.svg#Montserrat-ExtraBoldItalic")
      format("svg");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-ExtraLight.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-ExtraLight.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-ExtraLight.svg#Montserrat-ExtraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-ExtraLightItalic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf")
      format("truetype"),
    url("../fonts/Montserrat/Montserrat-ExtraLightItalic.svg#Montserrat-ExtraLightItalic")
      format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Italic.eot");
  src: url("../fonts/Montserrat/Montserrat-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Italic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Italic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Italic.svg#Montserrat-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Light.eot");
  src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Light.svg#Montserrat-Light")
      format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-LightItalic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-LightItalic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-LightItalic.svg#Montserrat-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Medium.svg#Montserrat-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-MediumItalic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-MediumItalic.svg#Montserrat-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-SemiBold.svg#Montserrat-SemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-SemiBoldItalic.svg#Montserrat-SemiBoldItalic")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat/Montserrat-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-Thin.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-Thin.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-Thin.svg#Montserrat-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.eot");
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat/Montserrat-ThinItalic.woff2") format("woff2"),
    url("../fonts/Montserrat/Montserrat-ThinItalic.woff") format("woff"),
    url("../fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype"),
    url("../fonts/Montserrat/Montserrat-ThinItalic.svg#Montserrat-ThinItalic")
      format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

.loadableCom {
  height: 700px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.load {
  width: 100px;
  height: 100px;
  margin: auto 0;
  border: solid 10px #01345a;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.5s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.noSearch {
  transform: translateY(-200%);
  transition: all 0.3s;
}

.moreNewsBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    width: 126px;
    text-align: center;
    cursor: pointer;
    background: #014577;
    border-radius: 3.72596px;
    height: 41px;
    color: #fff !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 7px;
    font-size: 13px;
  }
}

.header__webBox {
  display: flex;
  flex-wrap: wrap;
}

.header__webMenuClose {
  position: absolute;
  right: 100px;
  top: 50px;
  cursor: pointer;
}

.header__webMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 52, 90, 1);
  z-index: 555;
  padding-top: 100px;
  display: flex;
  z-index: 55555;
  overflow-y: scroll;
  transition: all 0.3s;
}

.header__webMenuItem {
  width: calc(100% / 4);
  padding: 0 15px;

  @media (max-width: 1474px) {
    width: calc(100% / 2);
    padding-bottom: 35px;
  }

  h4 {
    color: #8e9aaf;
    font-size: 25px;
    margin-bottom: 25px;
  }

  a {
    color: #fff;
    margin-bottom: 15px;
    display: flex;
  }
}

.openWebmenu {
  transform: translateX(-150%);
  transition: all 0.3s;
}

.webLogoBox {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

/* Loader 1 */
.loader-1 {
  height: 32px;
  width: 32px;
  -webkit-animation: loader-1-1 4.8s linear infinite;
  animation: loader-1-1 4.8s linear infinite;
}
@-webkit-keyframes loader-1-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-1-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-1 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  clip: rect(0, 32px, 32px, 16px);
  -webkit-animation: loader-1-2 1.2s linear infinite;
  animation: loader-1-2 1.2s linear infinite;
}
@-webkit-keyframes loader-1-2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
  }
}
@keyframes loader-1-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
.loader-1 span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
  clip: rect(0, 32px, 32px, 16px);
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-animation: loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-1-3 {
  0% {
    -webkit-transform: rotate(-140deg);
  }
  50% {
    -webkit-transform: rotate(-160deg);
  }
  100% {
    -webkit-transform: rotate(140deg);
  }
}
@keyframes loader-1-3 {
  0% {
    transform: rotate(-140deg);
  }
  50% {
    transform: rotate(-160deg);
  }
  100% {
    transform: rotate(140deg);
  }
}

// css loader
$black: #252525;
$gradient: linear-gradient(to top right, #7cb529, #b4b4b4);

.loader {
  display: grid;
  position: relative;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 3px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 73px;
}

.loader div {
  position: relative;
  width: 100%;
  height: 100%;
  background: $gradient;
  border-radius: 1px;
  transform-origin: center center;
  animation: loader 1.2s infinite linear;

  &:nth-of-type(7) {
  }
  &:nth-of-type(1),
  &:nth-of-type(5),
  &:nth-of-type(9) {
    animation-delay: 0.4s;
  }

  &:nth-of-type(4),
  &:nth-of-type(8) {
    animation-delay: 0.2s;
  }

  &:nth-of-type(2),
  &:nth-of-type(6) {
    animation-delay: 0.6s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.8s;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
